<div class="header">
	<div>
		<h1>ngx-virtual-grid demo</h1>
		<p>{{ items.length }} items loaded. Scroll to load more.</p>
	</div>
	<nav class="header__links">
		<a href="https://github.com/theryansmee/ngx-virtual-grid" target="_blank" rel="noopener">GitHub</a>
		<a href="https://www.npmjs.com/package/@theryansmee/ngx-virtual-grid" target="_blank" rel="noopener">npm</a>
	</nav>
</div>

<ngx-virtual-grid
	class="demo-grid"
	[items]="items"
	[bufferSize]="3"
	[trackBy]="trackById"
	[loadMoreThreshold]="0.8"
	(loadMore)="onLoadMore()">

	<ng-template ngxVirtualGridItem let-item let-index="index">

		<div
			class="card"
			[style.background-color]="item.color">

			<span class="card__index">#{{ index }}</span>
			<span class="card__title">{{ item.title }}</span>
		</div>
	</ng-template>
</ngx-virtual-grid>
